@model LetsGoOutApp.Models.Komentar

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Komentar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.datum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sadrzaj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sadrzaj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ocjena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ocjena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datumKreiranja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datumKreiranja)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
