<!DOCTYPE html>
<!--
    Transit by TEMPLATED
    templated.co
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/skel.min.js"></script>
    <script src="~/Scripts/skel-layers.min.js"></script>
    <script src="~/Scripts/init.js"></script>
    <noscript>
        <link rel="stylesheet" href="~/Content/skel.css" />
        <link rel="stylesheet" href="~/Content/style.css" />
        <link rel="stylesheet" href="~/Content/style-xlarge.css" />
    </noscript>
</head>
<body class="@ViewBag.BodyClass">
    <header id="header">
        <h1>@Html.ActionLink("Let's Go Out", "Index", "Home")</h1>
        <nav id="nav">
            <ul>
                <li>@Html.ActionLink("O nama", "About", "Home")</li>
                <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
                @Html.Partial("_LoginPartial")
            </ul>
        </nav>
    </header>
    @RenderBody()
    <footer id="footer">
        <div class="container"></div>
    </footer>
</body>
</html>